<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 elems">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-heading mb-4">About Us</div>
                        <p>The annual technical festival of IIT ropar “Adivtiya ”, marks a 3 day journey consisting of various competitions spread across Robotics, Management, Coding, Designing, Gaming, Astronomy, Aero-modelling and Quizzing. Apart from
                            the competitions, talks and workshops are few of the interesting events of the fest. The upcoming Advitiya is going to be held in February 2020.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 elems">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="footer-heading mb-4">Contact Us</h2>

                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>