<!doctype html>
<html lang="en">

<head>
    <title>Advitiya-2020</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <header class="site-navbar site-navbar-target" role="banner">
        <div class="container">
            <div class="col-lg-4 text-center">
                <div class="site-logo">
                    <a href="index.html"><img src="images/logo.png" class='nav-brand-logo' alt="" srcset=""></a>
                </div>
            </div>
        </div>

    </header>

    <div class="ftco-blocks-cover-1">
        <div class="ftco-cover-1 overlay" style="background-image: url('images/hero_2.jpg')">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 text-center">
                        <div class='main-heading'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script>
        var typed = new Typed('.main-heading', {
            // Waits 1000ms after typing "First"
            strings: ['You Are Successful!', ],
            typeSpeed: 100,
            smartBackspace: true,
            loop: true,
            backDelay: 2000,
        });
    </script>
</body>

</html>