body
{
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #060c21;
	font-family: 'Poppins',sans-serif;
}

.container{
	position: relative;
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
	grid-template-rows: auto;
	grid-gap: 0 40px;
}
.container .box{
	position: relative;
	height: 300px;
	background:#060c21;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
}
.container .box:before
{
	content: ' ';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	transform: skew(-2deg,2deg);
	z-index:-1;
}
.container .box:nth-child(1):before
{
	background: linear-gradient(315deg,#ff0057,#e64a19);
}
.container .box:nth-child(2):before
{
	background: linear-gradient(315deg,#89ff00,#00bcd4);
}
.container .box:nth-child(3):before
{
	background: linear-gradient(315deg,#e91e63,#5402ff);
}

.content{
	position: absolute;
	padding: 20px;
}
.box .content h2
{
	position: absolute;
	top: -20px;
	right:20px;
	margin:0;
	padding: 0;
	font-size: 10em;
	color: rgba(255,255,255,.05);
	transition: 0.5s;
}
.box:hover .content h2
{
	top: -50px;
}

.box .content h3
{
	margin: 0 0 10px;
	padding: 0;
	font-size: 24px;
	font-weight: 500;
	color: #fff;
}
.box .content p
{
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 16px;
}
.box:hover .content button
{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}
.box .content button
{
	position: relative;
	margin: 20px 0 0;
	text-decoration: none;
	display: inline-block;
	transition: 0.5s
	transform: translateY(-40px);
	opacity: 0;
	visibility: hidden;
}
.box .content button:hover
{
	color: #000;
	background: #fff;
}

.jumbotron{
	background: #060c21;
	width: 90%;
	padding-bottom: 0px;
	padding-left: 40px;

}

.jumbotron h2,p,h4 {
	color: white;
}


