{% extends "main_page/base.html" %}
{% load static %}

{% block body %}

<br>
<br>

<section class="what-we-offer-area section-padding-100-70">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-12 col-md-6 col-xl-4">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Icon -->
                    <div class="single-blog-thumb">
                        <center><a href="{% url 'startup_conclave:register_for_bootcamp' %}">
                                <img src="{% static 'startup_conclave/img/bootcamp.jpg' %}" style="height: 200px;" alt=""></a>
                        </center>
                    </div>
                    <h5>BootCamp</h5>
                    <div class="post-meta">
                        <a class="post-date"><i class="zmdi zmdi-time-interval"></i> 1 Day</a><br>
                        <a class="post-date"><i class="zmdi zmdi-calendar-check"></i> 7th & 8th February, 2020</a>

                    </div>
                    <br>
                    <a href="{% url 'startup_conclave:register_for_bootcamp' %}" class="btn confer-btn-white"
                        style="border: 2px solid rgb(43, 2, 143); color: black;"
                        onmouseover="this.style.color='#ffffff'" onmouseout="this.style.color='#000000'">Register</a>

                    <a href="https://docs.google.com/document/d/118lP-RkeHNWzvCSCb3qS6BXCaj6wLlwhSwKSrNfBCiw/edit?usp=drivesdk" class="btn confer-btn-white"
                        style="border: 2px solid rgb(43, 2, 143); color: black;"
                        onmouseover="this.style.color='#ffffff'" onmouseout="this.style.color='#000000'">Rulebook</a>
                </div>

            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s">
                    <div class="single-blog-thumb">
                        <center><a href="{% url 'startup_conclave:register_for_startup' %}">
                            <img src="{% static 'startup_conclave/img/startup.jpg' %}" style="height: 200px;" alt=""></a>
                        </center>
                    </div>
                    <h5>Startup</h5>
                    <div class="post-meta">
                        <a class="post-date"><i class="zmdi zmdi-time-interval"></i> 2 Days</a><br>
                        <a class="post-date"><i class="zmdi zmdi-calendar-check"></i> 7th & 8th February, 2020</a>

                    </div>
                    <br>
                    <a href="{% url 'startup_conclave:register_for_startup' %}" class="btn confer-btn-white"
                        style="border: 2px solid rgb(43, 2, 143); color: black;"
                        onmouseover="this.style.color='#ffffff'" onmouseout="this.style.color='#000000'">Register</a>
                    <a href="https://drive.google.com/file/d/19jqvP1HS1rxvDVjBG1AZfmhCf7mvoRJL/view?usp=sharing" class="btn confer-btn-white"
                        style="border: 2px solid rgb(43, 2, 143); color: black;"
                        onmouseover="this.style.color='#ffffff'" onmouseout="this.style.color='#000000'">Rulebook</a>

                </div>

            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s">
                    <div class="single-blog-thumb">
                        <center><a href="{% url 'startup_conclave:register_for_stall' %}">
                            <img src="{% static 'startup_conclave/img/stall.jpg' %}" style="height: 200px;" alt=""></a>
                        </center>
                    </div>
                    <h5>Stalls</h5>
                    <div class="post-meta">
                        <a class="post-date"><i class="zmdi zmdi-time-interval"></i> 3 Days</a><br>
                        <a class="post-date"><i class="zmdi zmdi-calendar-check"></i> 7th, 8th & 9th February, 2020</a>

                    </div>
                    <br>
                    <a href="https://docs.google.com/forms/d/1zp5fgssbBlBYroAL_krKKJ6I8s6xpD_c-Mq8C5euKqg/viewform" class="btn confer-btn-white"
                        style="border: 2px solid rgb(43, 2, 143); color: black;"
                        onmouseover="this.style.color='#ffffff'" onmouseout="this.style.color='#000000'">Register</a>

                </div>

            </div>
        </div>
    </div>
</section>


{% endblock %}