{% extends 'ca/base.html'%}
{% load static %}
{% block title %} Profile Page {%endblock%}
{% block body %}

<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 main-back overlay">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center text-white">
                    <div class="heading">Basic Info</div>

                    <table class="table display-data text-white align-items-center">
                        <thead>
                            <tr>
                                <th scope="col">FIELDS</th>
                                <th scope="col">DATA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Full Name:</th>
                                <td>{{ profile.user.first_name }} {{ profile.user.last_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Phone Number:</th>
                                <td>{{ profile.phone }}</td>
                            </tr>
                            <tr>
                                <th scope="row">College Name:</th>
                                <td>{{ profile.college_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Technical Head:</th>
                                <td>{{ profile.tec_head }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Technical Head Phone:</th>
                                <td>{{ profile.tec_head_phone }}</td>
                            </tr>
                            <tr>
                                <th scope="row">CA Code:</th>
                                <td>{{ profile.ca_code }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <center>
                        <button class="btn-primary primary update-pro"><a style="color: white;"
                                href="{% url 'ca:home' %}">
                                Back</a></button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}