{% extends "main_page/base.html" %}
{% load static %}

{% block body %}
<section class="about-us-countdown-area section-padding-100-0" id="about">
    <div class="container">
        <div class="row align-items-center">
            <!-- About Content -->
            <div class="col-md-8 mx-auto" style="background-color: rgba(0, 0, 0, 0.7); margin-top: 50px;
             margin-bottom: 50px; border-radius: 20px; padding: 50px;">
                <br>
                <div class="about-content-text" style="color: white;">
                    <h3>Benefits and Post Workshop Deliverables</h3>
                    <ul>
                        <li>1. A digital toolkit of PPTs and study material for all participants of the workshop.</li>
                        <li>2. Certificate of Participation for every participant.</li>
                        {# <li>3. A competition will be organized at the end of the workshop and winners will be awarded with #}
                        Certificate of Excellence.</li>
                        <li>3. Six months online support related to the workshop course content.</li>
                        <li>4. Internship opportunity for prospective students.</li>
                    </ul>
                    <br>
                    <h3>Prerequisites & Eligibility</h3>
                    <ul>
                        <li>1. These are basic to advanced level workshops. The tools and techniques required will be 
                            taught there itself.</li>
                        <li>2. The course and curriculum of the workshops are more inclined towards engineering streams, 
                            however, anybody can join this training even from a different department.</li>
                        <li>3. Any B.Tech/ BE/ BCA/ BSc/ M.Tech/ ME/ MCA/ MSc or any UG or PG/PhD student can attend these workshops to 
                            enhance his/her skills.</li>
                    </ul>
                    <br>
                    <h3>Requirements from Participants</h3>
                    <ul>
                        <li>1. A laptop/PC (with a minimum of 2 GB RAM, 100 GB HDD, Intel i3+ processor) in a group of 5 students or 
                            individual.</li>
                        <li>2. Internet Connection/Wi-Fi for Laptop/PC (Not Mandatory).</li>
                    </ul>
                    <br>
                    <h3>Terms & Conditions</h3>
                    <ul>
                        <li style="list-style-type:disc;">The charges for the workshop(s) are NON REFUNDABLE but can be adjusted and 
                            transferred.(Conditions Apply).</li>
                        <li style="list-style-type:disc;">If in any case the workshop is cancelled by Organizers due to any reason, 
                            the complete fee would be refunded after deducting standard bank Changes.</li>
                        <li style="list-style-type:disc;">The refund process will take minimum 7-10 working days.</li>
                        <li style="list-style-type:disc;">If you are not satisfied with the quality of the workshop(s) , Kindly write 
                            to us on "advitiya@iitrpr.ac.in". Our team will reach out to you within 24 hrs.</li>
                        <li style="list-style-type:disc;">During the event, the company representatives or the training professionals 
                            are not authorized to take prompt decisions or queries. So the participants are humbly requested to follow 
                            a proper protocol and write a formal letter to Advitiya IIT Ropar in case of any trouble.  </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}