{% extends "main_page/base.html" %}
{% load static %}

{% block body %}
<section class="bg-img bg-gradient-overlay jarallax">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 mx-auto">
                <div class="breadcrumb-content">
                    <br><br>
                    <div class="alert alert-primary mx-auto" role="alert">
                        <h3>Important</h3>
                        <br>
                        <ul>
                            <li style="list-style-type:disc;">
                                Prior to registration, please ensure that you registered <a
                                    href="{% url 'main_page:register_as_participant' %}">(Click Here)</a> at
                                Advitiya, and paid <a href="{% url 'main_page:payment' %}">(Click Here)</a> the
                                registration fee.
                            </li>
                        </ul>
                        <br>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<!-- Our Blog Area Start -->
<div class="our-blog-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group flex-wrap" role="group" aria-label="Basic example">
                    {% for category, event_list in events.items %}
                    <a href="#{{category}}" type="button" style="color: white;" class="btn btn-secondary">{{category}}</a>
                    {% endfor %}
                </div>
                <br><br>
            </div>
        </div>
        {% for category, event_list in events.items %}
        <h1 id="{{ category }}">{{category}}</h1>
        <div class="row">
            {% for event in event_list %}

            <!-- Single Blog Area -->
            <div class="col-12 col-md-6 col-xl-4">
                <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                    <!-- Single blog Thumb -->
                    <div class="single-blog-thumb">
                        <center><a href="{% url 'main_page:event_page' event.id  %}">
                                <img src="{{ event.image.url }}" style="height: 200px;" alt=""></a>
                        </center>
                    </div>
                    <div class="single-blog-text text-center">
                        <a class="blog-title" href="{% url 'main_page:event_page' event.id  %}">{{event.name}}</a>
                        <!-- Post Meta -->
                        <div class="post-meta">
                            <a class="post-date"><i class="zmdi zmdi-alarm-check"></i> {{event.start_date_time}}</a>
                            <a class="post-author"><i class="zmdi zmdi-account"></i> {{event.coordinator.name}}</a>
                        </div>
                        <!-- <p>{{event.description}}
                        </p> -->
                    </div>
                    <div class="blog-btn">
                        <a href="{% url 'main_page:event_page' event.id  %}"><i
                                class="zmdi zmdi-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if not event_list %}
            <div class="card">
                <div class="card-body">
                    Events to be out soon. <br>
                </div>
            </div>
            <div class="col-md-12">
                <br><br>
            </div>
            {% else %}
            <div class="col-12 col-md-6 col-xl-4">
                <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                    <div class="single-blog-text text-center">
                        <a class="blog-title">More Events to be
                            released soon.</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

</div>


{%endblock%}