{% extends "main_page/base.html" %}
{% load static %}

{% block body %}

<section id="event" class="breadcrumb-area bg-img bg-gradient-overlay jarallax"
    style="background-image: url(img/bg-img/37.jpg); ">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2 class="page-title">{{ event.name }}</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'main_page:index' %}">Advitiya</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'main_page:events' %}"> Events</a></li>
                            <!-- <li class="breadcrumb-item active" aria-current="page">{{ event.name }}</li> -->
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<!-- Blog Area Start -->
<section class="confer-blog-details-area section-padding-100-0" style="background-image: url({{ event.photo_url }});
                background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Single Post Details Area -->
            <div class="col-12 col-lg-8 col-xl-9">
                <div class="pr-lg-4 mb-100">
                    <!-- Post Content -->
                    <div class="post-details-content" style="background-color: rgba(255, 255, 255, 0.7);
                            padding: 20px;border-radius: 10px;">

                        <!-- Post Title -->
                        <h4 class="post-title">ABOUT EVENT</h4>

                        <h5>There are prizes worth {{ event.prize.normalize }} thousand for this event.</h5>
                        <p>{{event.description}}</p>
                        <br>
                        <h5>Rules &amp; Team Members</h5>
                        {% if event.team_upper_limit == 1 %}
                        <p>This is a solo event.</p>
                        {%else%}
                        <p>The number of team members may vary from {{ event.team_lower_limit }} to a maximum of
                            {{ event.team_upper_limit }}.</p>

                        {%endif%}

                        <p>
                            The rulebook of the event can be seen here.<a href="{{ event.rulebook }}">Click here</a>
                        </p>

                        <br>
                        {%if event.team_upper_limit != 1%}
                        <!-- Blockquote -->
                        <blockquote class="confer-blockquote">
                            <p>Each participant needs to register at Advitiya, and pay the registration fee. The Team
                                Leader may then register the participants using the participation code provided to each
                                participant.</p>
                        </blockquote>
                        {%endif%}

                        <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas obcaecati excepturi esse repellat ratione non cum quibusdam corrupti reprehenderit deserunt consectetur, officia repellendus nisi reiciendis ipsam ut ullam incidunt voluptate.</p>
                        <div class="row">
                            <div class="col-6">
                                <img class="mb-30" src="{% static 'ca/img/favicon.jpg' %}" alt="">
                            </div>
                            <div class="col-6">
                                <img class="mb-30" src="{% static 'ca/img/favicon.jpg' %}" alt="">
                            </div>
                        </div> -->

                    </div>

                    <!-- Post Tags & Social Info -->

                </div>
            </div>

            <!-- Blog Sidebar Area -->
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="confer-sidebar-area mb-100">

                    <!-- Single Widget Area -->
                    <div class="single-widget-area">
                        <!-- Post Author Widget -->
                        <div class="post-author-widget" style="background-color: rgba(255, 255, 255, 0.7);
                        padding: 20px;border-radius: 10px;">
                            <!-- Thumbnail -->
                            <a href="{{ event.rulebook }}" class="btn btn-info">Rulebook</a>
                            <!-- Co-ordinator Content -->
                            <div class="post-author-content">

                                <br>
                                <h6 style="color:black">Venue of Event: {{event.venue}}</h6>
                                <h6 style="color:black">Timings: {{event.start_date_time}}</h6>
                                <h5>Event Coordinator</h5>
                                <span>Name: {{event.coordinator.name}}</span>
                                <span>Contact Details: {{event.coordinator.phone }}</span>
                            </div>
                            <a href="{% url 'main_page:register_for_event' event.id  %}"
                                class="btn confer-btn">Register Now</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}