{% extends "main_page/base.html" %}
{% load static %}

{% block body %}
<section class="breadcrumb-area bg-img bg-gradient-overlay jarallax" style="background-image: url(static/main_page/img/bg-img/1.jpg);">
  <br>
  <br>
    <div class="carousel-wrapper">
            <div class="carousel" data-flickity>
              <div class="carousel-cell">
                <h3>Club 1</h3>
                <a class="more" href="#aero">Explore more
                <img src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" />                
            </a>
            </div>
              <div class="carousel-cell">
                <h3>Club 2</h3>
                <a class="more" href="#auto">Explore more
                <img src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" />
            </a> </div>
              <div class="carousel-cell">
                <h3>Club 3</h3>
                <a class="more" href="#cim">Explore more
                <img src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" />
            </a></div>
                <div class="carousel-cell">
                <h3>Club 4</h3>
                <a class="more" href="#fne">Explore more
                <img src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" />
            </a></div>
                <div class="carousel-cell">
                <h3>Club 5</h3>
                <a class="more" href="#robotics">Explore more
                <img src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" />
            </a></div>
                <div class="carousel-cell">
                <h3>Club 6</h3>
                <a class="more" href="#zenith">Explore more
                <img src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" />
            </a></div>
                <div class="carousel-cell">
                <h3>Club 7</h3>
                <a class="more" href="#mun">Explore more
                <img src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" />
            </a></div>
                <div class="carousel-cell">
                <h3>Club 8</h3>
                <a class="more" href="#coding">Explore more
                <img src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" />
            </a></div>
                <div class="carousel-cell">
                <h3>Club 9</h3>
                <a class="more" href="#mono">Explore more
                <img src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" />
            </a></div>
            </div>
          </div>
</section>
<!-- Breadcrumb Area End -->

<!-- Our Blog Area Start -->
<div class="our-blog-area section-padding-100">
  <div class="container">
    <h1>Aeromodelling Club</h1>
    <a id="aero"></a>
      <div class="row">
          <!-- Single Blog Area -->
          <div class="col-12 col-md-6 col-xl-4">
              <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                  <!-- Single blog Thumb -->
                  <div class="single-blog-thumb">
                      <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                  </div>
                  <div class="single-blog-text text-center">
                      <a class="blog-title" href="#">Aquarocket</a>
                      <!-- Post Meta -->
                      <div class="post-meta">
                          <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                          <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Abhishek Gupta</a>
                      </div>
                      <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                  </div>
                  <div class="blog-btn">
                      <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                  </div>
              </div>
          </div>

          <!-- Single Blog Area -->
          <div class="col-12 col-md-6 col-xl-4">
              <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                  <!-- Single blog Thumb -->
                  <div class="single-blog-thumb">
                      <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                  </div>
                  <div class="single-blog-text text-center">
                      <a class="blog-title" href="#">Hovercraft</a>
                      <!-- Post Meta -->
                      <div class="post-meta">
                          <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i>January 14, 2019</a>
                          <a class="post-author" href="#"><i class="zmdi zmdi-account"></i>Abhishek Gupta</a>
                      </div>
                      <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                  </div>
                  <div class="blog-btn">
                      <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                  </div>
              </div>
          </div>

          <!-- Single Blog Area -->
          <div class="col-12 col-md-6 col-xl-4">
              <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                  <!-- Single blog Thumb -->
                  <div class="single-blog-thumb">
                      <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                  </div>
                  <div class="single-blog-text text-center">
                      <a class="blog-title" href="#">Project RAHAT</a>
                      <!-- Post Meta -->
                      <div class="post-meta">
                          <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i>January 14, 2019</a>
                          <a class="post-author" href="#"><i class="zmdi zmdi-account"></i>Anand</a>
                      </div>
                      <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                  </div>
                  <div class="blog-btn">
                      <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                  </div>
              </div>
          </div>
          
          <!-- Single Blog Area -->
          <div class="col-12 col-md-6 col-xl-4">
              <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                  <!-- Single blog Thumb -->
                  <div class="single-blog-thumb">
                      <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                  </div>
                  <div class="single-blog-text text-center">
                      <a class="blog-title" href="#">Drone Racing</a>
                      <!-- Post Meta -->
                      <div class="post-meta">
                          <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                          <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Anand</a>
                      </div>
                      <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                  </div>
                  <div class="blog-btn">
                      <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                  </div>
              </div>
          </div>

          <!-- Single Blog Area -->
          <div class="col-12 col-md-6 col-xl-4">
              <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                  <!-- Single blog Thumb -->
                  <div class="single-blog-thumb">
                      <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                  </div>
                  <div class="single-blog-text text-center">
                      <a class="blog-title" href="#">RC plane</a>
                      <!-- Post Meta -->
                      <div class="post-meta">
                          <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i>January 14, 2019</a>
                          <a class="post-author" href="#"><i class="zmdi zmdi-account"></i>Aditya</a>
                      </div>
                      <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                  </div>
                  <div class="blog-btn">
                      <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                  </div>
              </div>
          </div>

          <!-- Single Blog Area -->
          <div class="col-12 col-md-6 col-xl-4">
              <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                  <!-- Single blog Thumb -->
                  <div class="single-blog-thumb">
                      <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                  </div>
                  <div class="single-blog-text text-center">
                      <a class="blog-title" href="#">Virtual flying</a>
                      <!-- Post Meta -->
                      <div class="post-meta">
                          <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i>January 14, 2019</a>
                          <a class="post-author" href="#"><i class="zmdi zmdi-account"></i>Aditya</a>
                      </div>
                      <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                  </div>
                  <div class="blog-btn">
                      <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
        <div class="container">
          <h1>Automotive Club</h1>
          <a id="auto"></a>
            <div class="row">
                <!-- Single Blog Area -->
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Single blog Thumb -->
                        <div class="single-blog-thumb">
                            <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                        </div>
                        <div class="single-blog-text text-center">
                            <a class="blog-title" href="#">Full Throtlle</a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Ashutosh</a>
                            </div>
                            <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                        </div>
                        <div class="blog-btn">
                            <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Single blog Thumb -->
                            <div class="single-blog-thumb">
                                <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                            </div>
                            <div class="single-blog-text text-center">
                                <a class="blog-title" href="#">RoboWar</a>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                    <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Divyanshu </a>
                                </div>
                                <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                            </div>
                            <div class="blog-btn">
                                <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4">
                            <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                                <!-- Single blog Thumb -->
                                <div class="single-blog-thumb">
                                    <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                                </div>
                                <div class="single-blog-text text-center">
                                    <a class="blog-title" href="#">Hydrorockers</a>
                                    <!-- Post Meta -->
                                    <div class="post-meta">
                                        <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                        <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Laura Green</a>
                                    </div>
                                    <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                                </div>
                                <div class="blog-btn">
                                    <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    <div class="container">
        <h1>CIM</h1>
        <a id="cim"></a>
        <div class="row">
        <!-- Single Blog Area -->
            <div class="col-12 col-md-6 col-xl-4">
                <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                <!-- Single blog Thumb -->
                <div class="single-blog-thumb">
                    <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                </div>
                <div class="single-blog-text text-center">
                    <a class="blog-title" href="#">SpeeDAC</a>
                    <!-- Post Meta -->
                    <div class="post-meta">
                        <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                        <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Abhishek</a>
                    </div>
                    <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                </div>
                <div class="blog-btn">
                    <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
            <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                <!-- Single blog Thumb -->
                <div class="single-blog-thumb">
                    <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                </div>
                <div class="single-blog-text text-center">
                    <a class="blog-title" href="#">CADathon</a>
                    <!-- Post Meta -->
                    <div class="post-meta">
                        <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                        <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Ayush </a>
                    </div>
                    <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                </div>
                <div class="blog-btn">
                    <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
                <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                    <!-- Single blog Thumb -->
                    <div class="single-blog-thumb">
                        <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                    </div>
                    <div class="single-blog-text text-center">
                        <a class="blog-title" href="#">Invento</a>
                        <!-- Post Meta -->
                        <div class="post-meta">
                            <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                            <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Divyanshu </a>
                        </div>
                        <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                    </div>
                    <div class="blog-btn">
                        <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="container">
            <h1>Coding Club</h1>
            <a id="coding"></a>
                <div class="row">
                    <!-- Single Blog Area -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Single blog Thumb -->
                            <div class="single-blog-thumb">
                                <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                            </div>
                            <div class="single-blog-text text-center">
                                <a class="blog-title" href="#">Competitive Programming  </a>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                    <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Shobhit</a>
                                </div>
                                <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                            </div>
                            <div class="blog-btn">
                                <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4">
                            <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                                <!-- Single blog Thumb -->
                                <div class="single-blog-thumb">
                                    <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                                </div>
                                <div class="single-blog-text text-center">
                                    <a class="blog-title" href="#">Debug it</a>
                                    <!-- Post Meta -->
                                    <div class="post-meta">
                                        <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                        <a class="post-author" href="#"><i class="zmdi zmdi-account"></i>Rohit Tuli</a>
                                    </div>
                                    <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                                </div>
                                <div class="blog-btn">
                                    <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
        <div class="container">
            <h1>Monochrome Club</h1>
            <a id="mono"></a>
                <div class="row">
                    <!-- Single Blog Area -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Single blog Thumb -->
                            <div class="single-blog-thumb">
                        <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                    </div>
                    <div class="single-blog-text text-center">
                        <a class="blog-title" href="#">Art Of photoshop </a>
                        <!-- Post Meta -->
                        <div class="post-meta">
                            <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                            <a class="post-author" href="#"><i class="zmdi zmdi-account"></i>Ritesh</a>
                        </div>
                        <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                    </div>
                    <div class="blog-btn">
                        <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                    <!-- Single blog Thumb -->
                    <div class="single-blog-thumb">
                        <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                    </div>
                    <div class="single-blog-text text-center">
                        <a class="blog-title" href="#">Design Marathon</a>
                        <!-- Post Meta -->
                        <div class="post-meta">
                            <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                            <a class="post-author" href="#"><i class="zmdi zmdi-account"></i>Ritesh</a>
                        </div>
                        <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                    </div>
                    <div class="blog-btn">
                        <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                    <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Single blog Thumb -->
                        <div class="single-blog-thumb">
                            <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                        </div>
                        <div class="single-blog-text text-center">
                            <a class="blog-title" href="#">Logo Making</a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Ritesh</a>
                            </div>
                            <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                        </div>
                        <div class="blog-btn">
                            <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Single blog Thumb -->
                        <div class="single-blog-thumb">
                            <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                        </div>
                        <div class="single-blog-text text-center">
                            <a class="blog-title" href="#">Foodomark</a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Ritesh</a>
                            </div>
                            <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                        </div>
                        <div class="blog-btn">
                            <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Single blog Thumb -->
                            <div class="single-blog-thumb">
                                <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                            </div>
                            <div class="single-blog-text text-center">
                                <a class="blog-title" href="#">Pic of the day</a>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                    <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Ritesh</a>
                                </div>
                                <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                            </div>
                            <div class="blog-btn">
                                <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4">
                            <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                                <!-- Single blog Thumb -->
                                <div class="single-blog-thumb">
                                    <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                                </div>
                                <div class="single-blog-text text-center">
                                    <a class="blog-title" href="#">T-shirt Designing </a>
                                    <!-- Post Meta -->
                                    <div class="post-meta">
                                        <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                        <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Ritesh</a>
                                    </div>
                                    <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                                </div>
                                <div class="blog-btn">
                                    <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
        <div class="container">
                <h1>Robotics</h1>
                <a id="robotics"></a>
                <div class="row">
                      <!-- Single Blog Area -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Single blog Thumb -->
                            <div class="single-blog-thumb">
                                <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                            </div>
                            <div class="single-blog-text text-center">
                                <a class="blog-title" href="#">Makeathon(with Problem Statement)</a>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                    <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Sakshay & Ish</a>
                                </div>
                                <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                            </div>
                            <div class="blog-btn">
                                <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Single blog Thumb -->
                            <div class="single-blog-thumb">
                                <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                            </div>
                            <div class="single-blog-text text-center">
                                <a class="blog-title" href="#">Henchmen</a>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                    <a class="post-author" href="#"><i class="zmdi zmdi-account"></i>Ekansh</a>
                                </div>
                                <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                            </div>
                            <div class="blog-btn">
                                <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Single blog Thumb -->
                            <div class="single-blog-thumb">
                                <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                            </div>
                            <div class="single-blog-text text-center">
                                <a class="blog-title" href="#">Fury Road</a>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                    <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Ekansh</a>
                                </div>
                                <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                            </div>
                            <div class="blog-btn">
                                <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Single blog Thumb -->
                        <div class="single-blog-thumb">
                            <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                        </div>
                        <div class="single-blog-text text-center">
                            <a class="blog-title" href="#">Shivank</a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Micromouse</a>
                            </div>
                            <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                        </div>
                        <div class="blog-btn">
                            <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Single blog Thumb -->
                            <div class="single-blog-thumb">
                                <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                            </div>
                            <div class="single-blog-text text-center">
                                <a class="blog-title" href="#">Cozmo-Clench</a>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                    <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Jasnoor</a>
                                </div>
                                <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                            </div>
                            <div class="blog-btn">
                                <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4">
                            <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                                <!-- Single blog Thumb -->
                                <div class="single-blog-thumb">
                                    <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                                </div>
                                <div class="single-blog-text text-center">
                                    <a class="blog-title" href="#">Robosoccer</a>
                                    <!-- Post Meta -->
                                    <div class="post-meta">
                                        <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                        <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Shivank</a>
                                    </div>
                                    <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                                </div>
                                <div class="blog-btn">
                                    <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
        <div class="container">
                <h1>FNE</h1>
                <a id="fne"></a>
                <div class="row">
                      <!-- Single Blog Area -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Single blog Thumb -->
                            <div class="single-blog-thumb">
                                <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                            </div>
                            <div class="single-blog-text text-center">
                                <a class="blog-title" href="#">Case Study Challenge</a>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                    <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Ashutosh</a>
                                </div>
                                <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                            </div>
                            <div class="blog-btn">
                                <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Single blog Thumb -->
                            <div class="single-blog-thumb">
                                <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                            </div>
                            <div class="single-blog-text text-center">
                                <a class="blog-title" href="#">Stock Stalkers (online)</a>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                    <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Divyanshu </a>
                                </div>
                                <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                            </div>
                            <div class="blog-btn">
                                <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="container">
                <h1>Zenith</h1>
                <a id="zenith"></a>
                <div class="row">
                      <!-- Single Blog Area -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Single blog Thumb -->
                            <div class="single-blog-thumb">
                                <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                            </div>
                            <div class="single-blog-text text-center">
                                <a class="blog-title" href="#">Astro Quiz</a>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                    <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Shrish</a>
                                </div>
                                <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                            </div>
                            <div class="blog-btn">
                                <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Single blog Thumb -->
                            <div class="single-blog-thumb">
                                <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                            </div>
                            <div class="single-blog-text text-center">
                                <a class="blog-title" href="#">Telescope Fabrication</a>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                    <a class="post-author" href="#"><i class="zmdi zmdi-account"></i>Shrish</a>
                                </div>
                                <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                            </div>
                            <div class="blog-btn">
                                <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4">
                            <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                                <!-- Single blog Thumb -->
                                <div class="single-blog-thumb">
                                    <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                                </div>
                                <div class="single-blog-text text-center">
                                    <a class="blog-title" href="#">Case Study/Problem Statement</a>
                                    <!-- Post Meta -->
                                    <div class="post-meta">
                                        <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                        <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Rahul</a>
                                    </div>
                                    <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                                </div>
                                <div class="blog-btn">
                                    <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    <div class="col-12 col-md-6 col-xl-4">
                            <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                                <!-- Single blog Thumb -->
                                <div class="single-blog-thumb">
                                    <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                                </div>
                                <div class="single-blog-text text-center">
                                    <a class="blog-title" href="#">AstroBingo</a>
                                    <!-- Post Meta -->
                                    <div class="post-meta">
                                        <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                        <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Sahil</a>
                                    </div>
                                    <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                                </div>
                                <div class="blog-btn">
                                    <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-4">
                                <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                                    <!-- Single blog Thumb -->
                                    <div class="single-blog-thumb">
                                        <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                                    </div>
                                    <div class="single-blog-text text-center">
                                        <a class="blog-title" href="#">Astrophotography</a>
                                        <!-- Post Meta -->
                                        <div class="post-meta">
                                            <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                            <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Sahil</a>
                                        </div>
                                        <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                                    </div>
                                    <div class="blog-btn">
                                        <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                </div>
        </div>
        <div class="container">
                <h1>Software Community</h1>
                <a id="softcom"></a>
                <div class="row">
                      <!-- Single Blog Area -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Single blog Thumb -->
                            <div class="single-blog-thumb">
                                <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                            </div>
                            <div class="single-blog-text text-center">
                                <a class="blog-titles"  href="#">Software Hackathon</a>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                    <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Ashutosh</a>
                                </div>
                                <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                            </div>
                            <div class="blog-btn">
                                <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="container">
                <h1>Quizzing</h1>
                <a id="quizzing"></a>
                <div class="row">
                      <!-- Single Blog Area -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Single blog Thumb -->
                            <div class="single-blog-thumb">
                                <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                            </div>
                            <div class="single-blog-text text-center">
                                <a class="blog-title" href="#">General Quiz</a>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                    <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Aman</a>
                                </div>
                                <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                            </div>
                            <div class="blog-btn">
                                <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Single blog Thumb -->
                            <div class="single-blog-thumb">
                                <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                            </div>
                            <div class="single-blog-text text-center">
                                <a class="blog-title" href="#">Biz Quiz</a>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                    <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Aman</a>
                                </div>
                                <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                            </div>
                            <div class="blog-btn">
                                <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="container">
                <h1>BATTLEX GROUND</h1>
                <a id="battlex"></a>
                <div class="row">
                      <!-- Single Blog Area -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Single blog Thumb -->
                            <div class="single-blog-thumb">
                                <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                            </div>
                            <div class="single-blog-text text-center">
                                <a class="blog-title" href="#">CS:GO</a>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                    <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Daksh</a>
                                </div>
                                <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                            </div>
                            <div class="blog-btn">
                                <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Single blog Thumb -->
                            <div class="single-blog-thumb">
                                <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                            </div>
                            <div class="single-blog-text text-center">
                                <a class="blog-title" href="#">PUBG</a>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                    <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Daksh</a>
                                </div>
                                <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                            </div>
                            <div class="blog-btn">
                                <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Single blog Thumb -->
                            <div class="single-blog-thumb">
                                <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                            </div>
                            <div class="single-blog-text text-center">
                                <a class="blog-title" href="#">FIFA</a>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                    <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Daksh</a>
                                </div>
                                <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                            </div>
                            <div class="blog-btn">
                                <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="container">
                <h1>MUN</h1>
                <a id="mun"></a>
                <div class="row">
                      <!-- Single Blog Area -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Single blog Thumb -->
                            <div class="single-blog-thumb">
                                <img src="{% static 'main_page/img/bg-img/4.jpg' %}" alt="">
                            </div>
                            <div class="single-blog-text text-center">
                                <a class="blog-title" href="#">MUN</a>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                    <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Varun Katiyaar</a>
                                </div>
                                <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
                            </div>
                            <div class="blog-btn">
                                <a href="{% url 'main_page:event_page' 1 %}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    {%endblock%}