{% extends "main_page/base.html" %}
{% load static %}

{% block body %}

<section id="event" class="breadcrumb-area bg-img bg-gradient-overlay jarallax" style="background-image: url(img/bg-img/37.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2 class="page-title" >Event Details</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'main_page:index' %}">Advitiya</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'main_page:events' %}"> Events</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ event.name }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<!-- Blog Area Start -->
<section class="confer-blog-details-area section-padding-100-0">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Single Post Details Area -->
            <div class="col-12 col-lg-8 col-xl-9">
                <div class="pr-lg-4 mb-100">
                    <!-- Post Content -->
                    <div class="post-details-content">

                        <!-- Post Thumbnail -->
                        <div class="post-blog-thumbnail mb-30">
                            <img src="{{ event.image.url }}" alt="" width="450px" height="350px">
                        </div>

                        <!-- Post Title -->
                        <h4 class="post-title">ABOUT EVENT</h4>

                        <p>{{event.description}}</p>
                        <!-- Blockquote -->
                        <blockquote class="confer-blockquote">
                            {%if event.team_upper_limit == 1%}
                            <h5>The registration fees of the event is {{event.fees}} which needs to be paid by the participant prior to registration</h5>
                            {%else%}
                            <h5>The registration fees of the event is {{event.fees}} per particicipant. Each participant needs to register at Advitiya, and pay the registration fee. The Team Leader may then register the participants using the participation code provided to each participant.</h5>
                            <h5>The prize money of this event is {{ event.prize }} thousands.</h5>
                            {%endif%}
                        </blockquote>

                        <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas obcaecati excepturi esse repellat ratione non cum quibusdam corrupti reprehenderit deserunt consectetur, officia repellendus nisi reiciendis ipsam ut ullam incidunt voluptate.</p>
                        <div class="row">
                            <div class="col-6">
                                <img class="mb-30" src="{% static 'ca/img/favicon.jpg' %}" alt="">
                            </div>
                            <div class="col-6">
                                <img class="mb-30" src="{% static 'ca/img/favicon.jpg' %}" alt="">
                            </div>
                        </div> -->

                        <h5>Rules &amp; Team Members</h5>
                        {% if event.team_upper_limit == 1 %}
                        <p>This is a solo event.</p>
                        {%else%}
                        <p>The number of team members may vary from {{ event.team_lower_limit }} to a maximum of {{ event.team_upper_limit }}.</p>
                        
                        {%endif%}
                        
                        <p>
                            The rulebook of the event can be seen here.<a href="{{ event.rulebook }}">Click here</a>
                        </p>
                    </div>

                    <!-- Post Tags & Social Info -->
                    <div class="post-tags-social-area mt-30 pb-5 d-flex flex-wrap align-items-center">
                        <!-- Popular Tags -->
                        <div class="popular-tags d-flex align-items-center">
                            <p><i class="zmdi zmdi-label"></i></p>
                            <ul class="nav">
                                <!-- <li><a href="#">{{ event.category }}</a></li> -->
                                <li><a href="#event">{{ event.name  }}</a></li>
                            </ul>
                        </div>

                        <!-- Author Social Info -->
                        <div class="author-social-info">
                            
                            <a href="https://twitter.com/advitiyaiitrpr?lang=en"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://www.instagram.com/advitiya_iitrpr/?hl=en"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="https://www.facebook.com/advitiya.iitrpr/"><i class="zmdi zmdi-facebook"></i></a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Blog Sidebar Area -->
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="confer-sidebar-area mb-100">

                    <!-- Single Widget Area -->
                    <div class="single-widget-area">
                        <!-- Post Author Widget -->
                        <div class="post-author-widget">
                            <!-- Thumbnail -->
                            <a href="{{ event.rulebook }}" class="btn btn-primary">Rulebook</a>
                            <!-- Co-ordinator Content -->
                            <div class="post-author-content">
                                
                                <br>
                                <!-- <p>Venue of Event: {{event.venue}}</p>
                                <p>Timings: {{event.start_date_time}}</p> -->
                                <h5>Event Coordinator</h5>
                                <span>Name: {{event.coordinator.name}}</span> 
                                <span>Contact Details: {{event.coordinator.phone }}</span>
                            </div>
                            <a href="{% url 'main_page:register_for_event' event.id  %}" class="btn btn-primary">Register Now!!!</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}