{% extends "main_page/base.html" %}
{% load static %}

{% block body %}
<div class="text-center">
  <div class="cover-container d-flex h-100 p-1 flex-column">
    <header class="masthead">
      <div class="inner">
        <div class="logo_img"><img src="{% static 'main_page/img/logo1.png'  %}" alt="" height="95px;"></div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-2 col-md-1"></div>
        <div class="col-12 col-sm-8 col-md-10">
          <main role="main" class="inner cover">
            <img src="{% static 'main_page/img/wel.png'  %}" alt="" height="150px;">
            <h2>Hold onto your horses.</h2>
            <p class="lead"> <b>Campus Ambassador</b> and <b>TSP </b>Portals are live now.<br>Register here.</p>
            <p class="lead">
              <a href="{% url 'ca:home' %}" class="btn btn-lg btn-secondary">CA</a>
              <a href="{% url 'TSP:home' %}" class="btn btn-lg btn-secondary">TSP</a>
            </p>
          </main>
        </div>
        <div class="col-12 col-sm-2 col-md-1"></div>
      </div>
    </div>
  </div>
  <!-- <footer class="mastfoot navbar-fixed-bottom">
    <div class="inner">
      <p>Made with love by Technical Team<a href="https://twitter.com/mdo">@IIT Ropar</a>.</p>
    </div>
  </footer> -->
</div>
{% endblock %}