{% extends "main_page/base.html" %}
{% load static %}
{% load socialaccount %}

{% block body %}
<body>
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

<!-- Welcome Area Start -->
<section class="welcome-area">
  <div class="welcome-slides owl-carousel">
      <!-- Single Slide -->
      <div class="single-welcome-slide bg-img bg-overlay jarallax" style="background-image: url(static/main_page/img/bg-img/coming_soon.jpg); opacity: 1;">
          <div class="container h-100">
              <div class="row h-100 align-items-center">
                  <!-- Welcome Text -->
                  <div class="col-12">
                      <div class="welcome-text text-right">
                          <!-- <h2 data-animation="fadeInUp" data-delay="300ms">Science <br>Conference</h2>
                          <h6 data-animation="fadeInUp" data-delay="500ms">Shangri-La Hotel, Bangkok, Bangkok, Thailand</h6>-->
                          <div class="hero-btn-group" data-animation="fadeInUp" data-delay="700ms"> 
                              <!-- <a href="{% url 'ca:home' %}" class="btn confer-btn">More Information <i class="zmdi zmdi-long-arrow-right"></i></a> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

            <!-- Single Slide -->
            <div class="single-welcome-slide bg-img bg-overlay jarallax"
                style="background-image: url(static/main_page/img/bg-img/coming_soon.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <!-- <div class="welcome-text-two text-center">
                                <h5 data-animation="fadeInUp" data-delay="100ms">The event consistently</h5>
                                <h2 data-animation="fadeInUp" data-delay="300ms">OSHA Compliance</h2>
                                
                                <div class="event-meta" data-animation="fadeInUp" data-delay="500ms">
                                    <a class="event-date" href="#">
                                        <i class="zmdi zmdi-account"></i> January 14, 2019</a>
                                    <a class="event-author" href="#">
                                        <i class="zmdi zmdi-alarm-check"></i> Laura Green</a>
                                </div>-->
                                <!-- <div class="hero-btn-group" data-animation="fadeInUp" data-delay="700ms">
                                    <a href="#" class="btn confer-btn m-2">View more <i
                                            class="zmdi zmdi-long-arrow-right"></i>
                                    </a>
                                    <a href="#" class="btn confer-btn m-2">Get Tickets <i
                                            class="zmdi zmdi-long-arrow-right"></i>
                                    </a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scroll Icon -->
        <!-- <div class="icon-scroll" id="scrollDown"></div> -->
    </section>
    <!-- Welcome Area End -->

    <!-- About Us And Countdown Area Start -->
    <section class="about-us-countdown-area section-padding-100-0" id="about">
        <div class="container">
            <div class="row align-items-center">
                <!-- About Content -->
                <div class="col-12 col-md-6">
                    <div class="about-content-text mb-80">
                        <h6 style="color: aliceblue;" class="wow fadeInUp" data-wow-delay="300ms">About Advitiya</h6>
                        <h3 class="wow fadeInUp" data-wow-delay="300ms">Welcome to IIT Ropar's Technical FEst</h3>
                        <p class="wow fadeInUp" style="text-align:justify;" data-wow-delay="300ms">IIT Ropar is
                            organizing the fourth edition of it's annual Technical Festival "Advitiya" in the first
                            week of of February consisting of 72 hours of intense competitions and technical events
                            Advitiya has
                            already evolved into a brand within four years of its inception and a publicity paradise
                            that ensures
                            stupendous brand visibility for sponsors With an array of activities that consolidate the
                            vision for
                            times to come, Advitiya 2020 is ready to set the scientific spirits soaring and
                            technological temper
                            ablaze Advitiya will witness a wide range of scientific and technical activities and novel
                            events from
                            fields like Coding, Robotics, Finance, Design and Entrepreneurship with total prizes worth
                            as high as 9
                            lakh Rupees.</p>
                        <a href="#" class="btn confer-btn mt-50 wow fadeInUp" data-wow-delay="300ms">Interested <i
                                class="zmdi zmdi-long-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <!-- About Thumb -->
                <div class="col-12 col-md-6">
                    <div class="about-thumb mb-80 wow fadeInUp" data-wow-delay="300ms">
                        <img src="{% static 'ca/img/favicon.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- Counter Up Area -->
        <div class="countdown-up-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-3">
                        <!-- Countdown Text -->
                        <div class="countdown-content-text mb-100 wow fadeInUp" data-wow-delay="300ms">
                            <h6 style="color: aliceblue;">Fest Date</h6>
                            <h4>Count Every Second Until the Event</h4>
                        </div>
                    </div>

              <div class="col-12 col-md-9">
                  <div class="countdown-timer mb-100 wow fadeInUp" data-wow-delay="300ms">
                      <div id="clock"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="our-sponsor-client-area section-padding-100">
    <div class="container">
        <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
            <h1 style="color: aliceblue; padding-top: 0;">Words</h1>
            </body>
        
        <div class="row">
            <!-- Our client area -->
            <div class="col-12">
                <div class="our-client-area mt-100 wow fadeInUp" data-wow-delay="300ms">
                    <!-- client Slider -->
                    <div class="client-area owl-carousel">
                        <!-- Single client Slider -->
                        <div class="single-client-content">
                            <!-- Single client Text -->
                            <div class="single-client-text">
                                <p>  IIT's are not only the technological hubs of their regions but are also known for amalgamating education with fun-filled extra-curricular activities.In this regard the IIT Ropar organises its science and  technology fest Advitiya whose third edition was organised last year. Continuing with that tradition; with immense pleasure and pride we please to announce Advitiya 2020. </p>
                                <!-- Single client Thumb and info --><br>
                                <div class="single-client-thumb-info d-flex align-items-center">
                                    <!-- Single client Thumb -->
                                    <div class="single-client-thumb">
                                        <img src="{% static 'main_page/img/bg-img/deansa.png' %}" alt="">
                                    </div>
                                    <!-- Single client Info -->
                                    <div class="client-info">
                                        <h6>Dr. C C Reddy</h6>
                                        <p>Dean Student Affairs</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single client Icon -->
                            <div class="client-icon">
                                <i class="zmdi zmdi-quote"></i>
                            </div>
                        </div>
  
                        <!-- Single client Slider -->
                        
  
                        <!-- Single client Slider -->
                        <div class="single-client-content">
                            <!-- Single client Text -->
                            <div class="single-client-text">
                                <p>Advitiya, inspires students to come out of their regular routine curriculum, to think innovatively, to brainstorm ideas, to accept challenges and to create new products. Aiming to be one of the finest Science and Technology fest of North India, Advitiya provides a superlative platform where students from all parts of the nation compete against each other.
                                    
                                    </p><br>
                                <!-- Single client Thumb and info -->
                                <div class="single-client-thumb-info d-flex align-items-center">
                                    <!-- Single client Thumb -->
                                    <div class="single-client-thumb">
                                        <img src="{% static 'main_page/img/bg-img/faculty.png' %}" alt="">
                                    </div>
                                    <!-- Single client Info -->
                                    <div class="client-info">
                                        <h6>Dr. Neeraj Goel</h6>
                                        <p>Faculty Advisor</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single client Icon -->
                            <div class="client-icon">
                                <i class="zmdi zmdi-quote"></i>
                            </div>
                        </div>
                        <div class="single-client-content">
                            <!-- Single client Text -->
                            <div class="single-client-text">
                                <p>In this edition of Advitiya, we plan to host workshops on latest technological trends, motivational talks, exhibitions, technical competitions such as coding, designing, robotics, business plan, quizzes, hackathon and many more.
                                    Overall three days of intensely loaded schedule, which will give the students a platform to showcase their imagination, skills, and innovativeness. </p>
                                <!-- Single client Thumb and info -->
                                <div class="single-client-thumb-info d-flex align-items-center">
                                    <!-- Single client Thumb -->
                                    <div class="single-client-thumb">
                                        <img src="{% static 'main_page/img/bg-img/gsecy.png' %}" alt="">
                                    </div>
                                    <!-- Single client Info -->
                                    <div class="client-info">
                                        <h6>Mr. Ashish Bedi</h6>
                                        <p> General Secretary, BOST</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single client Icon -->
                            <div class="client-icon">
                                <i class="zmdi zmdi-quote"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
<!-- About Us And Countdown Area End -->


    <!-- Our Schedule Area Start -->
    <section class="our-schedule-area section-padding-100">
        <div class="container">
            <div class="row">
                <!-- Heading -->
                <div class="col-12">
                    <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                        <p>Our Timetable</p>
                        <h4>Schedule </h4>
                        <h4>Coming Soon!</h4>
                    </div>
                </div>
            </div>

            
        </div>
    </section>
    <!-- Our Schedule Area End -->

    <!-- Our Ticket Pricing Table Area Start -->
    <section class="our-ticket-pricing-table-area bg-img bg-gradient-overlay section-padding-100-0 jarallax"
        style="background-image: url(static/main_page/img/bg-img/14.jpg);">
        <div class="container">
            <div class="row">
                <!-- Heading -->
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                        <p>Choose a Accomodation</p>
                        <h4>Accomodation Pricing</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Ticket Pricing Table -->
                <div class="col-12 col-lg-4">
                    <div class="single-ticket-pricing-table text-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <h6 class="ticket-plan">1 day stay</h6>
                        <!-- Ticket Icon -->
                        <div class="ticket-icon">
                            <img src="{% static 'main_page/img/core-img/p1.png' %}" alt="">
                        </div>
                        <h2 class="ticket-price">
                            <span>Rs</span>250</h2>
                        <a href="{% url 'main_page:accomodation' %}" class="btn confer-btn w-100 mb-30">Get Tickets <i
                                class="zmdi zmdi-long-arrow-right"></i>
                        </a>
                        <!-- Ticket Pricing Table Details -->
                        <div class="ticket-pricing-table-details">
                            <p>
                                <i class="zmdi zmdi-check"></i> One Day Room Ticket</p>
                            <p>
                                <i class="zmdi zmdi-check"></i> One Day Breakfast</p>
                           
                            <p>
                                <i class="zmdi zmdi-check"></i> Free Internet Facilities</p>
                            
                        </div>
                    </div>
                </div>

                <!-- Single Ticket Pricing Table -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-ticket-pricing-table active text-center mb-100 wow fadeInUp"
                        data-wow-delay="300ms">
                        <h6 class="ticket-plan">2 Day Stay</h6>
                        <!-- Ticket Icon -->
                        <div class="ticket-icon">
                            <img src="{% static 'main_page/img/core-img/p1.png' %}" alt="">
                        </div>
                        <h2 class="ticket-price">
                            <span>Rs</span>500</h2>
                        <a href="{% url 'main_page:accomodation' %}" class="btn confer-btn w-100 mb-30">Get Tickets <i
                                class="zmdi zmdi-long-arrow-right"></i>
                        </a>
                        <!-- Ticket Pricing Table Details -->
                        <div class="ticket-pricing-table-details">
                            <p>
                                <i class="zmdi zmdi-check"></i> Two Day Room Ticket</p>
                            <p>
                                <i class="zmdi zmdi-check"></i> Two Day Breakfast</p>
                           
                            <p>
                                <i class="zmdi zmdi-check"></i> Free Internet Facilities</p>
                            
                        </div>
                    </div>
                </div>

          <!-- Single Ticket Pricing Table -->
          <div class="col-12 col-md-6 col-lg-4">
              <div class="single-ticket-pricing-table text-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                  <h6 class="ticket-plan">3 Days Stay</h6>
                  <!-- Ticket Icon -->
                  <div class="ticket-icon">
                      <img src="{% static 'main_page/img/core-img/p1.png' %}" alt="">
                  </div>
                  <h2 class="ticket-price"><span>Rs</span>600</h2>
                  <a href="{% url 'main_page:accomodation' %}" class="btn confer-btn w-100 mb-30">Get Tickets <i class="zmdi zmdi-long-arrow-right"></i></a>
                  <!-- Ticket Pricing Table Details -->
                  <div class="ticket-pricing-table-details">
                      <p><i class="zmdi zmdi-check"></i> Three Day  Ticket</p>
                      <p><i class="zmdi zmdi-check"></i> Three Day Breakfast</p>
                      
                      <p><i class="zmdi zmdi-check"></i> Internet Facilities</p>
                      
                  </div>
              </div>
          </div>
          <div class="col-12">
            <div class="more-speaker-btn text-center mt-20 mb-40 wow fadeInUp" data-wow-delay="300ms">
                <a class="btn confer-btn-white" href="{% url 'main_page:accomodation' %}">View Full Details<i class="zmdi zmdi-long-arrow-right"></i></a>
            </div>
        </div>
          
      </div>
  </div>
</section>

<!-- Our Speakings Area Start -->
<section class="our-sponsor-client-area section-padding-100">
    <div class="container">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                    <p>Partners &amp; Sponsors</p>
                    <h4>PREVIOUS SPONSOR</h4>
                </div>
            </div>
        </div>

<div class="row">
    <div class="col-12">
        <!-- Our Sponsor area -->
        <div class="our-sponsor-area d-flex flex-wrap">
            <!-- Single Sponsor -->
            <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                <a href="#"><img src="{% static 'main_page/img/core-img/ncc.jpg' %}" alt=""></a>
            </div>
            <!-- Single Sponsor -->
            <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                <a href="#"><img src="{% static 'main_page/img/core-img/tees.png' %}" alt=""></a>
            </div>
            <!-- Single Sponsor -->
            <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                <a href="#"><img src="{% static 'main_page/img/core-img/grab.png' %}" alt=""></a>
            </div>
            <!-- Single Sponsor -->
            <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                <a href="#"><img src="{% static 'main_page/img/core-img/spartan.jpg' %}" alt=""></a>
            </div>
            <!-- Single Sponsor -->
            <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                <a href="#"><img src="{% static 'main_page/img/core-img/web.png' %}" alt=""></a>
            </div>
            <!-- Single Sponsor -->
            <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                <a href="#"><img src="{% static 'main_page/img/core-img/jeol.png' %}" alt=""></a>
            </div>
            <!-- Single Sponsor -->
            <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                <a href="#"><img src="{% static 'main_page/img/core-img/sbi.png' %}" alt=""></a>
            </div>
            <!-- Single Sponsor -->
            <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                <a href="#"><img src="{% static 'main_page/img/core-img/hover.jpg' %}" alt=""></a>
            </div>
            <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                <a href="#"><img src="{% static 'main_page/img/core-img/nvi.png' %}" alt=""></a>
            </div>
            <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                <a href="#"><img src="{% static 'main_page/img/core-img/ansys.png' %}" alt=""></a>
            </div>
            <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                <a href="#"><img src="{% static 'main_page/img/core-img/ralson.png' %}" alt=""></a>
            </div>
            <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                <a href="#"><img src="{% static 'main_page/img/core-img/safe.png' %}" alt=""></a>
            </div>
            <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                <a href="#"><img src="{% static 'main_page/img/core-img/chand.png' %}" alt=""></a>
            </div>
            <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                <a href="#"><img src="{% static 'main_page/img/core-img/story.png' %}" alt=""></a>
            </div>
            <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                <a href="#"><img src="{% static 'main_page/img/core-img/dunia.png' %}" alt=""></a>
            </div>
            <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                <a href="#"><img src="{% static 'main_page/img/core-img/punjab.jpg' %}" alt=""></a>
            </div>
        </div>
    </div>
</div>
</div>
</section>




<section class="our-speaker-area bg-img bg-gradient-overlay section-padding-100-60" style="background-image: url(static/main_page/img/bg-img/3.jpg);">
    <div class="container">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                    <p>Coming Soon</p>
                    <h4>Lecture Series</h4>
                </div>
            </div>
        </div>
  
        
  </section>
  <!-- Our Speakings Area End -->

{% endblock %}

