{% extends "main_page/base.html" %}
{% load static %}

{% block body %}

<section class="our-sponsor-client-area section-padding-100">
        <div class="container">
            <div class="row">
                
                <div class="col-12">
                    <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                        <br>
                        <p>Partners &amp; Sponsors</p>
                        <h4>PREVIOUS SPONSOR</h4>
                    </div>
                </div>
            </div>
    
             <div class="row">
                <div class="col-12">
                    
                    <div class="our-sponsor-area d-flex flex-wrap">
                    
                        <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="{% static 'main_page/img/core-img/ncc.jpg' %}" alt=""></a>
                        </div>
                    
                        <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="{% static 'main_page/img/core-img/tees.png' %}" alt=""></a>
                        </div>
                    
                        <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="{% static 'main_page/img/core-img/grab.png' %}" alt=""></a>
                        </div>
                        
                        <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="{% static 'main_page/img/core-img/spartan.jpg' %}" alt=""></a>
                        </div>
        
                        <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="{% static 'main_page/img/core-img/web.png' %}" alt=""></a>
                        </div>
        
                        <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="{% static 'main_page/img/core-img/jeol.png' %}" alt=""></a>
                        </div>
                        
                        <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="{% static 'main_page/img/core-img/sbi.png' %}" alt=""></a>
                        </div>
                    
                        <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="{% static 'main_page/img/core-img/hover.jpg' %}" alt=""></a>
                        </div>
                        <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="{% static 'main_page/img/core-img/nvi.png' %}" alt=""></a>
                        </div>
                        <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="{% static 'main_page/img/core-img/ansys.png' %}" alt=""></a>
                        </div>
                        <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="{% static 'main_page/img/core-img/ralson.png' %}" alt=""></a>
                        </div>
                        <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="{% static 'main_page/img/core-img/safe.png' %}" alt=""></a>
                        </div>
                        <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="{% static 'main_page/img/core-img/chand.png' %}" alt=""></a>
                        </div>
                        <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="{% static 'main_page/img/core-img/story.png' %}" alt=""></a>
                        </div>
                        <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="{% static 'main_page/img/core-img/dunia.png' %}" alt=""></a>
                        </div>
                        <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="{% static 'main_page/img/core-img/punjab.jpg' %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </section>



{%endblock%}