{% extends "main_page/base.html" %}
{% load static %}
{% load socialaccount %}

{% block style %}
<link href="{% static 'main_page/css/LineIcons.css' %}" rel="stylesheet">
<link href="{% static 'main_page/css/talk.css' %}" rel="stylesheet">
{%endblock%}

{% block body %}
<section>
    <div id="home" class="slider-area">
        <div class="bd-example" style="margin-top: 11px;">
            <div id="carouselOne" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselOne" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselOne" data-slide-to="1"></li>
                    <li data-target="#carouselOne" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item bg_cover active"
                        style="background-image: url(../../static/main_page/img/bg-img/college_bg.jpg)">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-xl-6 col-lg-7 col-sm-10">
                                        <h2 class="carousel-title">Refreshing Design & Easy to Customize</h2>
                                        <a href="{% url 'main_page:events'%}" class="btn confer-btn-white">Explore</a>
                                        <ul class="carousel-btn rounded-buttons">

                                        </ul>
                                    </div>
                                </div> <!-- row -->
                            </div> <!-- container -->
                        </div> <!-- carousel caption -->
                    </div> <!-- carousel-item -->

                    <!-- <div class="carousel-item bg_cover" style="background-image: url(assets/images/slider-2.jpg)">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-xl-6 col-lg-7 col-sm-10">
                                        <h2 class="carousel-title">Based on Latest Bootstrap & HTML5</h2>
                                        <ul class="carousel-btn rounded-buttons">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    {% for person in people %}
                    <div class="carousel-item">
                        <div class="row h-100">
                            <div class="col-md-6 h-md-50" style="overflow: hidden;">
                                <img src="{% static 'main_page/img/HarinderSikka8.jpg' %}"
                                style="width: 100%;">
                            </div>
                            <div class="col-md-6 h-md-50" style="padding: 20px;">
                                <div class="row justify-content-center d-table h-50">
                                    <div class="col-xl-6 col-lg-7 col-sm-10 d-table-cell align-middle">
                                        <h2 style="color: white;">{{person.name}}</h2>
                                        <ul style="color: white;">
                                            <li> {{person.para1}}</li>
                                            <li> {{person.para2}}</li>
                                            <br>
                                            <a href="{% url 'main_page:talk1'%}"
                                                class="btn confer-btn-white">Explore</a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div> <!-- carousel-inner -->

                <a class="carousel-control-prev" href="#carouselOne" role="button" data-slide="prev">
                    <i class="lni-arrow-left-circle"></i>
                </a>

                <a class="carousel-control-next" href="#carouselOne" role="button" data-slide="next">
                    <i class="lni-arrow-right-circle"></i>
                </a>
            </div> <!-- carousel -->
        </div> <!-- bd-example -->
    </div>
</section>
{% endblock %}