{% extends "main_page/base.html" %}
{% load static %}
{% load socialaccount %}

{% block style %}
<link href="{% static 'main_page/css/LineIcons.css' %}" rel="stylesheet">
<link href="{% static 'main_page/css/talk.css' %}" rel="stylesheet">
{%endblock%}

{% block body %}
<section>
    <div id="home" class="slider-area">
        <div class="bd-example" style="margin-top: 11px;">
            <div id="carouselOne" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselOne" data-slide-to="0" class="active"></li>
                    {% for person in people %}
                    {% if person.show %}
                    <li data-target="#carouselOne" data-slide-to="{{ forloop.counter }}"></li>
                    {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item bg_cover active">
                        <div class="container h-100" style="display: table; padding: 0;">
                            <div style="vertical-align: middle; display: table-cell">
                                <img src="{% static 'main_page/img/bg-img/web bg.png' %}">
                            </div>
                        </div>
                    </div>

                    {% for person in people %}
                    {% if person.show %}
                    <div class="carousel-item" style="height: auto;">
                        <div class="row h-100">
                            <div class="col-md-6 h-md-50" style="overflow: hidden; max-height: 767px;">
                                <img src="{{ person.photo_url }}" style="width: 100%;">
                            </div>
                            <div class="col-md-6 h-md-50" style="padding: 20px;">
                                <div class="row justify-content-center d-table h-50">
                                    <div class="col-xl-6 col-lg-7 col-sm-10 d-table-cell align-middle">
                                        <center>
                                            <h1 style="color: white;">{{person.name}}</h1>
                                            <br><br>
                                            <h5 class="carousel-title" style="background-color: rgba(255, 255, 255, 0.7);
                                                padding: 20px;border-radius: 10px; color: black;">
                                                <i class="zmdi zmdi-gps-dot"></i> Venue: {{person.venue}}<br><br>
                                                <i class="zmdi zmdi-time"></i> {{person.start_date_time}}
                                            </h5>
                                            <br>
                                        </center>
                                        <h4 style="color: white;">About {{person.name}}</h1><br>
                                            <ul style="color: white;">
                                                <li> &nbsp &nbsp &nbsp &nbsp {{person.para1}}</li>
                                                <br>
                                                <li> &nbsp &nbsp &nbsp &nbsp {{person.para2}}</li>
                                                <br>
                                                <li> &nbsp &nbsp &nbsp &nbsp {{person.para3}}</li>
                                                <br>
                                                <li> &nbsp &nbsp &nbsp &nbsp {{person.para4}}</li>
                                                <br>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div> <!-- carousel-inner -->

                <a class="carousel-control-prev" href="#carouselOne" role="button" data-slide="prev">
                    <i class="lni-arrow-left-circle"></i>
                </a>

                <a class="carousel-control-next" href="#carouselOne" role="button" data-slide="next">
                    <i class="lni-arrow-right-circle"></i>
                </a>
            </div> <!-- carousel -->
        </div> <!-- bd-example -->
    </div>
</section>
{% endblock %}