{% extends "techconnect/base.html" %}
{% load static %}
{% load socialaccount %}

{% block body %}
<!-- ##### Breadcumb Area Start ##### -->
<!-- <div class="breadcumb-area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>TechConnect</h2>
    </div>
</div> -->
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### About Us Area Start ##### -->
<section class="about-us-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInUp" data-wow-delay="400ms">
                <h4 style=" text-decoration: underline;">About TechConnect</h4>
                <p style="text-align: justify;">Techconnect is a pre-festival zonal event which comprises of preliminary
                    rounds of some major
                    competitions of Advitiya. Techconnect comprises of engaging professional technical workshops to
                    enhance the learning of students and to encourage the zeal of the participants. Techconnect covers
                    all the major cities of India and it witnessed a participation of around 2000 in workshops and
                    events from nearly 40+ colleges previous year.</p>
                <p style="text-align: justify;"><b>Techconnect</b> is a highly publicized event that is mentioned in our
                    posters, banners, social media
                    pages and in the website of <b>Advitiya, IIT Ropar</b>. Association with Techconnect will help your
                    institute garner positive publicity and it reach a wider audience all across the span of the
                    country. </p>
                    <div class="breadcumb-area bg-img" style= "height: 50px;">
                        <div class="bradcumbContent">
                            <a href = "https://drive.google.com/file/d/1BqWz24T7HJr04lPvbsa82sqMmd7-43zn/view?usp=sharing">
                                <h2>View more Details</h2>
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Us Area End ##### -->


{% endblock %}