{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Advitiya | TechConnect</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'ca/img/favicon.jpg' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'techconnect/style.css' %}">

</head>

<body>

    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="header-content h-100 d-flex align-items-center justify-content-between">
                            <div class="academy-logo">
                                <a style="font-size: 2em;" href="{% url 'techconnect:index' %}">TechConnect</a>
                            </div>
                            
                            <div class="academy-logo">
                                <a style="font-size: 2em;" href="{% url 'main_page:index' %}">Advitiya</a>
                            </div>
                            <!-- <div class="login-content">
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLScqQ3vzhkoAOe9eMAZEXt-PWovuQGDI7ArH210nXlslbPo3ew/viewform">Register</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{% url 'main_page:index' %}">Home</a></li>
                                    <li><a href="{% url 'techconnect:about' %}">About</a></li>
                                    <li><a href="{% url 'techconnect:contact' %}">Contacts</a></li>
                                    <li><a href="{% url 'techconnect:centers' %}">Cities</a></li>
                                    <li><a href="https://internship.advitiya.in">Internship and Benefits</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Calling Info -->
                        <div class="calling-info">
                            <div class="call-center">
                                <a href="tel:+919354518226"><i class="icon-telephone-2"></i> <span>(+91) 9915405007</span></a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    {% block body %}
    {% endblock %}
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="bottom-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'techconnect/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'techconnect/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'techconnect/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'techconnect/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'techconnect/js/active.js' %}"></script>
</body>

</html>