{% extends "techconnect/base.html" %}
{% load static %}
{% load socialaccount %}

{% block body %}

<div class="section">
    <center>
        {% for center in centers %}
            <div class="column">
                <h4>{{center.city_name}}</h4>
                <a href="{% url 'techconnect:college' center.id  %}">
                    <img class="circular--landscape" src="{{ center.city_image.url }}" />
                </a>
                <br>
                <br>
                <br><br>
            </div>
        {% endfor %}
        <div class="column">
            <h4>More Centers to be released soon</h4>
            <img class="circular--landscape" src="{% static 'techconnect/img/bg.jpg' %}" />
            <br><br>
            <br><br>
        </div>
    </center>
</div>

{% endblock %}