{% extends "techconnect/base.html" %}
{% load static %}
{% load socialaccount %}

{% block body %}
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Contacts</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Contact Area Start ##### -->
<section class="contact-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <!-- Single Teachers -->
            <div class="col-12 col-sm-6 col-lg-3 mx-auto">
                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                    <!-- Thumbnail -->
                    <div class="teachers-thumbnail">
                        <img src="{% static 'techconnect/img/person.png' %}" width="150px" alt="">
                    </div>
                    <!-- Meta Info -->
                    <div class="teachers-info mt-30">
                        <h5>Anand</h5>
                        <!-- <span>Marketing Proffesor</span><br> -->
                        <span><a href="tel:+919354518226"><i class="icon-telephone-2"></i>+91 93545 18226</a></span>
                    </div>
                </div>
            </div>
            <!-- Single Teachers -->
            <div class="col-12 col-sm-6 col-lg-3 mx-auto">
                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <!-- Thumbnail -->
                    <div class="teachers-thumbnail">
                        <img src="{% static 'techconnect/img/person.png' %}" width="150px" alt="">
                    </div>
                    <!-- Meta Info -->
                    <div class="teachers-info mt-30">
                        <h5>Aditya</h5>
                        <!-- <span>Digital Proffesor</span><br> -->
                        <span><a href="tel:+919525781859"><i class="icon-telephone-2"></i>+91 95257 81859</a></span>
                    </div>
                </div>
            </div>
            <!-- Single Teachers -->
            <div class="col-12 col-sm-6 col-lg-3 mx-auto">
                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                    <!-- Thumbnail -->
                    <div class="teachers-thumbnail">
                        <img src="{% static 'techconnect/img/person.png' %}" width="150px" alt="">
                    </div>
                    <!-- Meta Info -->
                    <div class="teachers-info mt-30">
                        <h5>Ashwin Goyal</h5>
                        <!-- <span>HTML Proffesor</span><br> -->
                        <span><a href="tel:+918872038318"><i class="icon-telephone-2"></i>+91 88720 38318</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Contact Area End ##### -->
{% endblock %}