{% extends "techconnect/base.html" %}
{% load static %}
{% load socialaccount %}

{% block body %}

<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
    <div class="hero-slides owl-carousel">

        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url({% static 'techconnect/img/bg.jpg' %})">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <!-- <h4 data-animation="fadeInUp" data-delay="100ms">All the courses you need</h4> -->
                            <h2 data-animation="fadeInUp" data-delay="200ms">TechConnect</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Hero Area End ##### -->

{% endblock %}