{% extends "techconnect/base.html" %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% block body %}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>{{ heading }}</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### About Us Area Start ##### -->
<section class="about-us-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto wow fadeInUp" data-wow-delay="400ms">
                <form method="POST">
                    {% csrf_token %}
                    {{ participationForm | crispy }}
                    <button type="submit" class="btn academy-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Us Area End ##### -->


{% endblock %}